@font-face {
    font-family: webFont;
    src: url(webfont.otf);
}

@font-face {
  font-family: contentFont;
  src: url(webfont.ttf);
}

body{
  text-align: center;
  align-content: center;
  background-image: url("img/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  text-shadow: 0 0 20px #020202;
}

h1 {
  font-family: webFont;
  font-size: 130px;
  margin: 150px 0px 50px 0px;
}

h3 {
  font-family: contentFont;
  font-size: 70px;
}

ul {
  font-family: contentFont;
  font-size: 50px;
}

li {
  float:center;
  list-style-position: inside;
}
