<p>Add a band to $venue.getName()</p>

<form action="/bands" method="post">
  <input id="venueId" name="venueId" type="hidden" value="$venue.getId()">

  <div class="form-group">
    <label for="title">Title</label>
    <input id="title" name="title" type="text" class="form-control">
  </div>

  <button type="submit" class="btn btn-success">Add Band</button>
</form>
