<p>Add a venue:</p>

<form action="/venues" method="post">
  <label for="title">Band Title</label>
  <input id="title" name="title" type="text">
  <label for="address">Band Address</label>
  <input id="address" name="address" type="text">

  <button type="submit" class="btn btn-default">Add Venue</button>
</form>
