<p>Add a venue:</p>

<form action="/venues" method="post">
  <label for="name">Band Title</label>
  <input id="name" name="name" type="text">

  <button type="submit" class="btn btn-default">Add Venue</button>
</form>
